/* 
 * Author: Mike King (@micjamking)
 */

/* -----------------------------------------
   Shared Styles
----------------------------------------- */
@font-face{
	font-family: "GeneralFoundicons";
	src: url("../fonts/general_foundicons.eot");
	src: url("../fonts/general_foundicons.eot?#iefix") format("embedded-opentype"), 
	     url("../fonts/general_foundicons.woff") format("woff"), 
	     url("../fonts/general_foundicons.ttf") format("truetype"), 
	     url("../fonts/general_foundicons.svg#GeneralFoundicons") format("svg");
	font-weight: normal;
	font-style: normal;
}

[class*="foundicon-"]{
	display: inline;
	width: auto;
	height: auto;
	line-height: inherit;
	vertical-align: baseline;
	background-image: none;
	background-position: 0 0;
	background-repeat: repeat;
}

[class*="foundicon-"]:before{
	font-family: "GeneralFoundicons";
	font-weight: normal;
	font-style: normal;
	text-decoration: inherit;
}

.foundicon-heart:before{ 
	content: "\f001"; 
}

*{
	-webkit-touch-callout: none; 
	-webkit-user-select: none; 
	user-select: none;
}

html, body{ 
	height: 100%; 
	background: #222; 
}

body{
	font-family: sans-serif;
	color: #6E6E6E;
}

.row{
	width: 100%;
	max-width: 100%;
	min-width: 100%;
	margin: 0 auto;
}


/* -----------------------------------------
   Header
----------------------------------------- */
.artist, .logo{
	transition: all 0.2s ease-in;
}

.logo:hover{
	opacity: 0.5;
	transform: translate(10px, 0);
}

.top-bar > ul .name h1{
	display: none;
}

.top-bar ul > .name > h1 > a{ 
	color: black; 
	font-size: 24px; 
	font-weight: lighter; 
	padding: 0 0 0 20px; 
	font-weight: bold;
	text-shadow: 1px 1px rgba(255,255,255,0.1);
}

#container{ 
	width: 100%;  
	height: 100%;
	padding: 0 10px 40px;
	position: relative;
	transition: -webkit-filter 0.5s ease-in-out;
}

nav a{ 
	text-decoration: none; 
}

.contain-to-grid .top-bar{ 
	max-width: 100%; 
	margin: 0 auto; 
}

.top-bar ul > li:not(.name):hover, .top-bar ul > li:not(.name).active, .top-bar ul > li:not(.name):hover > a{
	background: #191919;
}

.top-bar ul > li.name{
	background: transparent !important;
}

.top-bar .avatar{
	display: none;
	margin: 16px 0 0 10px;
	position: relative;
	z-index: 101;
}

.top-bar ul > li.has-dropdown .dropdown li.selected a{
	background: #3C3C3C;
}

.top-bar ul > li.has-dropdown .dropdown li a{
	transition: all 0.15s ease-in;
}

/* -----------------------------------------
   Gallery
----------------------------------------- */
#photo_container{ 
	margin: -4px auto 0; 
}

#photo_container li{ 
	list-style: none; 
	position: relative;
}

.photo{
	float: left;
	cursor: pointer;
	margin: 4px 2px;
	transition: all 0.25s ease;
	overflow: hidden;
}

.photo img{
	position: relative;
	display: block;
	width: 100% !important;
	min-width: 150px;
	height: auto !important;
	transition: all 0.25s ease;
	opacity: 1;
	z-index: 0;
}

.photo:hover{
	cursor: pointer;
}

.photo:hover > img{
	transform: scale(1.25);
	transform-origin: center center 0;
}

.likes, .foundicon-heart{
	opacity: 0;
	display: block;
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 2;
	color: rgba(0,0,0,0.75);
	text-align: center;
	font-weight: bold;
	font-size: 48px;
	padding: 30px;
	transition: all 0.25s ease;
}

.foundicon-heart{
	background: rgba(0,0,0,0.75);
	box-shadow: inset 0px 0px 20px rgba(0,0,0,0.75);
}

.foundicon-heart:before{
	color: rgba(255, 255, 255, 0.35);
	font-size: 120px;
	text-align: center;
	position: absolute;
	top: -20px;
	left: 16px;
	z-index: 0;
}

.likes, .foundicon-heart:before{
	transform: scale(0.5);
}

.photo:hover > .likes, 
.photo:hover > .foundicon-heart, 
.photo:hover > .foundicon-heart:before{
	opacity: 1;
	transform: scale(1);
}

#photo_container, .photo{
	transition-duration: 0.5s;
    transition-property: all;
}


/* -----------------------------------------
   Modal
----------------------------------------- */
.reveal-modal{
	padding: 0px;
	margin-top: -30px;
	background: #222;
	border-radius: 5px;
	z-index: 100;
}

.reveal-modal-bg{
	background: rgba(0, 0, 0, 0.75);
}

.reveal-modal > img{
	padding: 10px;
}

.details{
	background: #181818;
	border-top: 1px solid rgba(0, 0, 0, 1);
	margin: 0px;
	padding: 10px;
	font-size: 12px;
	border-radius: 3px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.07);
}

.prevent{
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 90%;
	max-width: 632px;
	max-height: 632px;
}

.avatar{
	float: left;
	margin: 0 12px 0 2px;
	box-shadow: 0px 0px 0px 2px rgba(255,255,255,0.75);
	border-radius: 40px;
}

.artist{
	float: left;
	margin: 12px 0 0;
	font-size: 16px;
	font-weight: bold;
	color: #6E6E6E;
	display: block;
}

.artist:hover{
	color: #404040;
	transform: translate(10px, 0);
}

.link{
	float: right;
	margin: 14px 0 0;
	font-style: italic;
	color: #DEDEDE;
}

.link:hover{
	color: #DEDEDE;
	text-decoration: underline;
}


/* -----------------------------------------
   Footer
----------------------------------------- */
footer.row{
	height: 25px;
	padding: 10px 0;
	position: relative;
	margin: 150px 0 20px;
}

.social{
	margin: 0 auto 20px;
	width: 300px;
}


/* -----------------------------------------
   Media Queries
----------------------------------------- */
@media only screen and (min-width: 1052px){
	.reveal-modal{
		max-width: 632px;
		margin-top: -95px;
		margin-left: -316px !important;
	}
}

@media only screen and (max-width: 940px){
	.top-bar ul > li:not(.name):hover > a{
		background: transparent;
	}
	.top-bar ul > li.has-dropdown.moved .dropdown li:not(.title) a{
		padding: 12px 22.5px;
	}
	
	.top-bar ul > li.has-dropdown .dropdown li:not(.title) a:hover{
		transform: translate(10px,0);
	}
}

@media only screen and (min-width: 940px){
	.top-bar > ul .name img.logo{
		margin-top: 10px;
	}

	.top-bar,.top-bar ul, .top-bar ul > li.has-dropdown > a{
		height: 60px;
	}

	.top-bar ul > li.has-dropdown > a{
		padding-top: 7px;
	}

	.top-bar .avatar{
		margin: 16px 0 0 10px;
	}

	.top-bar ul > li.has-dropdown .dropdown li a{
		text-align: right;
		padding: 9px 17px 9px 0px;
	}
	
	.top-bar ul > li.has-dropdown .dropdown li a:hover{
		transform: translate(-10px,0);
	}

	.top-bar ul > li.has-dropdown a{
		background: #222;
		padding-left: 60px;
		position: relative;
		z-index: 100;
	}

	.top-bar ul > li.has-dropdown:hover > .dropdown{
		max-height: 150px;
	}

	.top-bar ul > li.has-dropdown .dropdown {
		left: 0 !important;
		top: -113px;
		transition: all 0.25s ease-in-out;
	}

	.top-bar ul > li.has-dropdown:hover > .dropdown {
		display: block;
		top: 60px;
	}
}

@media only screen and (max-width: 767px){
	.top-bar ul > li:not(.name):hover, .top-bar ul > li:not(.name).active{
		background: transparent;
	}

	.reveal-modal, 
	.reveal-modal.small, 
	.reveal-modal.medium, 
	.reveal-modal.large, 
	.reveal-modal.xlarge{
		padding: 0px;
	}

	#container{
		max-width: 612px;
		margin: 0 auto;
	}
	
	.photo:hover > img{ 
		transform: none;
	}
	 
	.photo:hover > .likes, 
	.photo:hover > .foundicon-heart{
		opacity: 0;
	}
	
	.photo{
		cursor: default;
	}
}

@media only screen and (max-width: 479px){
	#container{
		max-width: 326px;
		margin: 0 auto;
	}

	.photo{
		padding-right: 0px;
		padding-left: 0px;
		margin: 5px 0;
	}
}


/* -----------------------------------------
   Loading Animation
----------------------------------------- */

.loading{
	display: block;
	box-sizing: content-box;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -23px 0 0 -23px;
	width: 40px;
	height: 40px;
	border: 3px dashed #555;
	border-radius: 50%;
	animation: load 1.5s linear infinite;
}

@-moz-document url-prefix() { 
  .loading {
	border: 3px solid #555;
	border-left-color: transparent;
	border-right-color: transparent;
  }
}

.loading:before{
	content: '';
	display: block;
	width: 60px;
	height: 60px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -30px 0 0 -30px;
	border: 3px solid rgba(0, 0, 0, 0.25);
	border-radius: 100%;
}

.loading:after{
	content: '';
	display: block;
	position: absolute;
	bottom: 5px;
	left: 5px;
	right: 5px;
	top: 5px;
	border: 10px solid rgba(0, 0, 0, 0.25);
	border-radius: 100%;
}

@keyframes load{ 
	0%{ transform: rotate(0deg); } 
	100%{ transform: rotate(360deg); } 
}