/* ==========================================================================
	Animation - Classes
   ========================================================================== */

.preloader{
	display: block;
	width: 70px;
	height: 70px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -35px;
	margin-left: -35px;
}

.petal-1 {
	fill: rgba(219, 219, 219, 0.75);
	@include transform-origin(90% 90%);
	@include animation(rotate 0.75s linear infinite);
}

.petal-2 {
	fill: rgba(0, 169, 157, 0.75);
	@include transform-origin(10% 65%);
	@include animation(rotate 1.5s linear infinite);
}

.petal-3 {
	fill: rgba(44, 63, 82, 0.75);
	@include transform-origin(67% 10%);
	@include animation(rotate 0.75s linear infinite reverse);
}

.fadeIn {
	opacity: 0;
	@include animation-name(fadeIn);
	@include animation-duration(0.75s);
	@include animation-timing-function(ease);
	@include animation-fill-mode(forwards);
}

.fadeOut {
	@include animation-name(fadeOut);
	@include animation-duration(0.5s);
	@include animation-timing-function(ease);
	@include animation-fill-mode(forwards);
}

.fadeInDown {
	opacity: 0;
	@include animation-name(fadeInDown);
	@include animation-duration(0.75s);
	@include animation-timing-function(ease);
	@include animation-fill-mode(forwards);
}


/* ==========================================================================
	Animation - Keyframes
   ========================================================================== */

@-webkit-keyframes bugfix {
	from {
		padding:0;
	}
	to {
		padding:0;
	}
}

@include keyframes(rotate) {
	to {
		@include transform(rotate(359deg));
	}
}

@include keyframes(fadeIn){
	0% {
		@include opacity (0);
	}
	100% {
		@include opacity (1);
	}
}

@include keyframes(fadeOut){
	0% {
		@include opacity (1);
	}
	100% {
		@include opacity (0);
	}
}

@include keyframes(fadeInDown){
	0% {
		@include opacity (0);
		@include transform (translateY(-20px));
	}
	100% {
		@include opacity (0.75);
		@include transform (translateY(0px));
	}
}
