/* ==========================================================================
	Search
   ========================================================================== */

.search{
    padding: 20px 0 30px;
    width: 60%;
    margin: 0 auto;
}

.search > form {
    position: relative;
}

.search button {
    position: absolute;
    top: 0;
    right: 0;
    background: rgb(255, 182, 51);
    border: none;
    height: 100%;
    width: 15%;
    font-size: 1em;
    color: white;
    cursor: pointer;
}

.search input {
    height: 40px;
    width: 100%;
    font-size: 1.75em;
    border: 1px solid rgb(222, 222, 222);
    padding-left: 2%;
    padding-right: 17%;
}
